body {
  font-family: 'Rubik', sans-serif;
  background-color: #fafafa;
}
.mainbar {
  position: fixed;
  left: 290px;
  right: 35px;
  top: 15%;
  bottom: 5%;
  width: auto;
  height: 80%;
  background: #fafafa;
}
