 <div class="head">
     <!--Confirmation Model to delete-->
     <div class="cart">
         <div class="content" id="confirmCart">
            <h4>Are you sure you want to delete this product?</h4>
            <div class="buttons">
               <button (click)="deleteProductById()" class="confirmBtn">Delete</button>
               <button (click)="cancelDeleteCart()" class="cancelBtn">Cancel</button>
            </div>
          </div>
     </div>
    <div>
        <div class="box">
          <button routerLink="/user/product/addProduct" *ngIf="user_role === 'Admin'" type="button" class="btn">
            <i class="fas fa-plus"></i> 
            Add New
          </button>
          <div class="message">
            <h4 >message message</h4>
          </div>
        </div>
        <div class="input-div">
           <div class="icon">
              <i class="fas fa-search"></i>
           </div>
           <div>
              <input class="input-search" name="key" (ngModelChange)="searchProduct(key.value)"  #key="ngModel" ngModel type="text" placeholder="Search ..." maxlength="50">
            </div>
         </div>
         <div *ngIf="loading ; else Products" class="boxSpinner">
            <span class="spinner"></span>
         </div>
         <ng-template #Products>
             <table>
               <thead>
                   <tr>
                      <th width="8%">Id</th>
                      <th>Name</th>
                      <th width="50%">Description</th>
                      <th>Category</th>
                      <th *ngIf="user_role == 'Admin'" width="14%">Action</th>
                   </tr>
               </thead>
               <tbody>
                   <tr *ngIf="products.length === 0">
                      <td colspan="4">There is no product right now.</td>
                   </tr>
                   <tr *ngFor="let product of products">
                       <td>{{product.id}}</td>
                       <td>{{product.name}}</td>
                       <td>{{product.description}}</td>
                       <td>{{product.category}}</td>
                       <td *ngIf="user_role == 'Admin'">
                           <button type="button" routerLink="/user/product/editProduct" [queryParams]="{id : product.id}" class="btnico edit">
                               <i class="fas fa-pen"></i>
                           </button>
                           <button type="button" (click)="deleteProduct(product.id)" class="btnico delete">
                               <i class="fas fa-trash-alt"></i>
                           </button>
                        </td>
                    </tr>
               </tbody>
             </table>
         </ng-template>
</div>