<div class="box">
    <h2>New user</h2>
    <div *ngIf="message != null" class="message">
        <h4 [ngStyle]="{'color':msgColor}">{{message}}</h4>
    </div>
</div>
<div class="content">
    <form class="div-style" [formGroup]="userForm" (ngSubmit)="onAddUser()">
        <div class="span">
            First Name
        </div>
        <div>
            <input formControlName="firstname" class="input-style" type="text" placeholder="First Name" [ngStyle]="{'border': submitted && f.firstname.errors ? '0.5px solid red' : '0.5px solid #afc9cd'}">
            <div *ngIf="submitted && f.firstname.invalid" class="invalid-feedback" >
                <div *ngIf="f.firstname.errors?.required">First Name is required</div>
            </div>
        </div>
        <div class="span">
            Last Name
        </div>
        <div>
            <input formControlName="lastname" class="input-style" type="text" placeholder="Last Name" [ngStyle]="{'border': submitted && f.lastname.errors ? '0.5px solid red' : '0.5px solid #afc9cd'}">
            <div *ngIf="submitted && f.lastname.invalid" class="invalid-feedback" >
                <div *ngIf="f.lastname.errors?.required">Last Name is required</div>
            </div>
        </div>
        <div class="span">
            Email
        </div>
        <div>
            <input formControlName="email" class="input-style" type="text" placeholder="Email" [ngStyle]="{'border': submitted && f.email.errors ? '0.5px solid red' : '0.5px solid #afc9cd'}">
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback" >
                <div *ngIf="f.email.errors?.required">Email is required</div>
                <div *ngIf="f.email.errors?.email">Email must be a valid email address</div>
            </div>
        </div>
        <div class="span">
            Phone
        </div>
        <div>
            <input formControlName="phone" class="input-style" type="text" placeholder="Phone" [ngStyle]="{'border': submitted && f.phone.errors ? '0.5px solid red' : '0.5px solid #afc9cd'}">
            <div *ngIf="submitted && f.phone.invalid" class="invalid-feedback" >
                <div *ngIf="f.phone.errors?.required">Phone is required</div>
                <div *ngIf="f.phone.errors?.pattern">Phone must be a valid MA number</div>
            </div>
        </div>
        <div class="span">
            Role
        </div>
        <div>
            <select formControlName="role" class="input-style" [ngStyle]="{'border': submitted && f.role.errors ? '0.5px solid red' : '0.5px solid #afc9cd'}">
                <option *ngFor="let role of roles" [value]="role">{{role}}</option>
            </select>
            <div *ngIf="submitted && f.role.invalid" class="invalid-feedback" >
                <div *ngIf="f.role.errors">Role is required</div>
            </div>
        </div>
        <div class="span">
            Username
        </div>
        <div>
            <input formControlName="username" class="input-style" type="text" placeholder="Username" [ngStyle]="{'border': submitted && f.username.errors ? '0.5px solid red' : '0.5px solid #afc9cd'}">
            <div *ngIf="submitted && f.username.invalid" class="invalid-feedback" >
                <div *ngIf="f.username.errors?.required">Username is required</div>
            </div>
        </div>
        <div class="span">
            Password
        </div>
        <div>
            <input formControlName="password" class="input-style" type="password" placeholder="Password" [ngStyle]="{'border': submitted && f.password.errors ? '0.5px solid red' : '0.5px solid #afc9cd'}">
            <div *ngIf="submitted && f.password.invalid" class="invalid-feedback" >
                <div *ngIf="f.password.errors?.required">Password is required</div>
                <div *ngIf="f.password.errors?.minlength">Password must be at least 6 chars</div>
            </div>
        </div>
        <input type="button" class="btn2 btncancel" routerLink="/user/management" value="Cancel">
        <input [ngStyle]="{'display': loading ? 'none' : 'block'}" type="submit" class="btn2 btnsave" value="Save">
        <div *ngIf="loading" class="spinner"></div>
    </form>
    <div>
        <div style="user-select: none; color: #eaeaea;">.</div>
        <div *ngIf="error" class="error-feedback"><i class="fas fa-exclamation-triangle"></i> {{error}}</div>

      </div>
</div>